WP_DB_NAME=wordpress
WP_DB_USER=
WP_DB_PASS=
DB_HOST=mariadb
DB_ROOT_PASS=
WP_TITLE=Inception
WP_ADMIN_USER=
WP_ADMIN_PASS=
WP_ADMIN_EMAIL=
WP_EMAIL=
FTP_USER=
FTP_PASS=
LOGIN=
URL=
WP_REDIS_HOST=redis
WP_REDIS_PORT=6379
WP_REDIS_DB=0